* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: radial-gradient(circle at center, #303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  text-align: center;
  margin: 3rem auto;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

header h1 {
  font-size: 1.5rem;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}